*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container{
    width: 1140px;
    margin: auto;
}

ul, ol {
    list-style-type: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

:root {
	--neutral-white: #fff;
	--neutral-silver: #f5f7fa;
	--neutral-grey-blue: #abbed1;
	--neutral-l-grey: #89939e;
	--neutral-grey: #717171;
	--neutral-d-grey: #4d4d4d;
	--neutral-black: #263238;
	--neutral-white-stroke: #abbed1;
	--brand-info: #2194f3;
	--brand-secondary: #263238;
	--brand-primary: #4caf4f;
	--shade-s1: #43a046;
	--shade-s2: #388e3b;
	--shade-s3: #237d31;
	--shade-s4: #1b5e1f;
	--shade-s5: #103e13;
	--tint-t1: #66bb69;
	--tint-t2: #81c784;
	--tint-t3: #a5d6a7;
	--tint-t4: #c8e6c9;
	--tint-t5: #e8f5e9;
	--action-success: #2e7d31;
	--action-error: #e53835;
	--action-warning: #fbc02d;
    --font-family: "Inter", sans-serif;
    --second-family: "Montserrat", sans-serif;
      }




nav .row{
    justify-content: space-between;
    align-items: center;
}

nav li {
    display: inline-block;
}

nav{
    box-shadow: 3px 3px 30px rgb(244, 231, 231);
}

nav ul li a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #18191f; 
    padding: 30px 25px;
    display: inline-block;
}

nav ul li:first-child a {
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: #18191f; 
    
}

nav ul li a:hover {
    color: red;
    font-weight: bold;
}


nav .row .signup a:first-child {
    color: rgb(42, 12, 236);
}

    nav .row .signup a:last-child{
        background: rgb(26, 236, 26);
        color: white;
        padding: 10px 20px;
        display: inline-block;
        border-radius: 6px;
        margin: 34px;
    }
    nav .row .signup a:last-child:hover{
        background: transparent;
        color: green;
        border: 2px solid;
    }
